<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATE USER</title>
</head>
<body>

<h2>Update user</h2>
<br>

<form th:action="@{/admin/updateUserButton}" th:object="${user}">

  <input type="hidden" id="id" th:field="*{id}">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="Name">
  <label for="name">Club</label>
  <input type="text" th:field="*{club}" id="club" placeholder="Club">
  <label for="name">Age</label>
  <input type="text" th:field="*{age}" id="age" placeholder="Age">
  <label for="name">Password</label>
  <input type="text" th:field="*{password}" id="password" placeholder="Password">
  <label for="name">Roles</label>
  <th:block th:each="role: ${listRoles}">
    <input type="checkbox" th:field="*{roles}"
           th:text="${role.name}" th:value="${role.id}" class="m-2" />
  </th:block>

    <br><br>
    <input type="submit" value="UPDATE">
</form>
<p><a href="#" th:href="@{/logout}">Log Out</a></p>

</body>
</html>